In [1]:
import pandas as pd

df = pd.read_csv('../DataProcess/station/1038A/1038A_2020.csv')

In [46]:
df = pd.read_csv('../DataProcess/station/1037A/1037A_2021_final.csv')

In [55]:
df = pd.read_csv('../DataProcess/station/1037A/1037A_2022_final.csv')

In [58]:
df = pd.read_csv('../DataProcess/station/1037A/1037A_2023_final.csv')

In [61]:
df = pd.read_csv('../DataProcess/station/1037A/1037A_2024_final.csv')

In [2]:
#查看df每列的数据类型、平均值、中位数、最大值、最小值
df.describe()

,date,hour,AQI,PM2.5,PM10,SO2,NO2,O3,CO
count,8.746000e+03,8746.000000,8209.000000,8306.000000,8289.000000,8363.000000,8333.000000,8310.000000,8380.000000
mean,2.020067e+07,11.508232,82.450359,50.934024,96.136928,18.683606,46.721109,61.912274,1.242327
std,3.446663e+02,6.924108,48.328544,41.228290,60.645758,17.410326,24.344177,52.242281,1.043893
min,2.020010e+07,0.000000,15.000000,3.000000,3.000000,1.000000,1.000000,1.000000,0.100000
25%,2.020040e+07,6.000000,52.000000,25.000000,52.000000,8.000000,27.000000,20.000000,0.600000
50%,2.020070e+07,12.000000,71.000000,40.000000,84.000000,14.000000,44.000000,51.000000,1.000000
75%,2.020093e+07,18.000000,99.000000,62.000000,124.000000,23.000000,64.000000,87.000000,1.500000
max,2.020123e+07,23.000000,500.000000,401.000000,725.000000,460.000000,171.000000,361.000000,17.600000

In [3]:
dateCount = {}
for index, row in df.iterrows():
    date = row['date']
    if date in dateCount:
        dateCount[date] += 1
    else:
        dateCount[date] = 1

In [4]:
print(len(dateCount))
for date in dateCount:
    if dateCount[date] != 24:
        print(date)

366
20200122.0
20200228.0
20200409.0
20200425.0
20200513.0
20200609.0
20200927.0
20201021.0
20201124.0
20201210.0
20201215.0
20201216.0
20201217.0
20201229.0

In [5]:
df_stamp = df[['date']]
df_stamp['date'] = pd.to_datetime(df_stamp.date)
print(df_stamp.date)

0      1970-01-01 00:00:00.020200101
1      1970-01-01 00:00:00.020200101
2      1970-01-01 00:00:00.020200101
3      1970-01-01 00:00:00.020200101
4      1970-01-01 00:00:00.020200101
                    ...
8741   1970-01-01 00:00:00.020201231
8742   1970-01-01 00:00:00.020201231
8743   1970-01-01 00:00:00.020201231
8744   1970-01-01 00:00:00.020201231
8745   1970-01-01 00:00:00.020201231
Name: date, Length: 8746, dtype: datetime64[ns]

C:\Anaconda\envs\graduate\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
df = pd.read_csv('./station/1037A/1037A-2020.csv')
df.dropna()
#将df的元素写入到新的csv文件中
#交换列
df[['PM2.5', 'CO']] = df[['CO', 'PM2.5']]
df.dropna().to_csv('./station/1037A/1037A-2020-new.csv', index=False)

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../DataProcess/station/1037A/1037A_test.csv')
df['date'][0]

str

In [13]:
df = pd.DataFrame({
    'date': [20200101, 20200102, 20200103],  # 示例数据
    'hour': [1, 2, 3]  # 示例数据
})

# 将date列转换为字符串形式
df['date'] = df['date'].astype(str)

# 合并date和hour列，构建新的datetime字符串
df['datetime'] = df['date'] + ' ' + (df['hour'] - 1).astype(str) + ':00'

# 如果需要转换为标准日期格式（'YYYY/MM/DD HH:MM'），可以进一步格式化
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y%m%d %H:%M').dt.strftime('%Y/%m/%d %H:%M')

print(df)

       date  hour          datetime
0  20200101     1  2020/01/01 00:00
1  20200102     2  2020/01/02 01:00
2  20200103     3  2020/01/03 02:00

In [15]:
df = pd.read_csv('../DataProcess/station/1037A/1037A_final.csv')
for index, row in df.iterrows():
    # 将date列转换为字符串形式
    df['date'] = df['date'].astype(str)

    # 合并date和hour列，构建新的datetime字符串
    df['datetime'] = df['date'] + ' ' + (df['hour']).astype(str) + ':00'

    # 如果需要转换为标准日期格式（'YYYY/MM/DD HH:MM'），可以进一步格式化
    df['datetime'] = pd.to_datetime(df['datetime'], format='%Y%m%d %H:%M').dt.strftime('%Y/%m/%d %H:%M')
    #删除date和hour列，保留datetime列
    df.drop(['date', 'hour'], axis=1, inplace=True)
    df.to_csv('../DataProcess/station/1037A/1037A_final.csv', index=False)

KeyError: 'date'

In [16]:
# 把datetime列放在前面
df = df[['datetime'] + [col for col in df.columns if col != 'datetime']]

In [79]:
import pandas as pd

df = pd.read_csv('../DataProcess/station/1037A/1037A_final.csv')
df.describe()

,PM10,SO2,NO2,O3,CO,Dew_Point_2m,Relative_Humidity_2m(%),Temperature,Wind_Direction_10m,Wind_Speed_10m(km/h),Diffuse_Radiation(W/m2),Direct_Radiation(W/m2),Precipitation(mm),Shortwave_Radiation(W/m2),Surface_Pressure(hPa),Target
count,41424.000000,40443.000000,40273.000000,40077.000000,40451.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,39908.000000
mean,81.662297,8.864698,34.420133,67.451281,0.926981,3.136938,56.571818,12.987213,183.249179,10.164257,71.441435,98.467893,0.073404,169.909328,1012.946944,43.017866
std,79.800206,9.743670,23.503927,52.582560,0.727239,14.250651,24.735945,11.856697,100.898038,5.141175,91.225022,160.827492,0.517522,237.209179,10.574187,38.544115
min,1.000000,1.000000,1.000000,1.000000,0.100000,-39.600000,5.000000,-20.100000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,985.200000,1.000000
25%,42.000000,3.000000,16.000000,27.000000,0.500000,-7.700000,36.000000,2.400000,92.000000,6.600000,0.000000,0.000000,0.000000,0.000000,1004.100000,18.000000
50%,65.000000,6.000000,29.000000,59.000000,0.700000,4.100000,57.000000,14.400000,189.000000,9.200000,8.000000,0.000000,0.000000,9.000000,1012.500000,31.000000
75%,100.000000,11.000000,50.000000,94.000000,1.100000,15.900000,78.000000,23.200000,270.000000,12.900000,136.000000,155.000000,0.000000,319.000000,1021.300000,54.000000
max,2801.000000,247.000000,164.000000,372.000000,15.100000,28.100000,100.000000,39.800000,360.000000,45.000000,397.000000,646.000000,18.400000,869.000000,1042.800000,483.000000

In [80]:
import numpy as np

#补充缺失值
for index, row in df.iterrows():
    pm10_value = row['PM10']
    # 如果pm10_value 为空，则填充为上一行和下一行的平均值
    if pd.isna(pm10_value):
        prev_value = df.at[index - 1, 'PM10']
        next_value = df.at[index + 1, 'PM10']
        if pd.notna(prev_value) and pd.notna(next_value):
            df.at[index, 'PM10'] = (prev_value + next_value) / 2
        elif pd.notna(prev_value) and pd.isna(next_value):
            df.at[index, 'PM10'] = prev_value
        elif pd.isna(prev_value) and pd.notna(next_value):
            df.at[index, 'PM10'] = next_value
        else:
            # 填充为该列的平均值加上随机数(-20.0,20.0)并把小数点后的数组为0
            df.at[index, 'PM10'] = np.round(df['PM10'].mean() + np.random.uniform(-20.0, 20.0), 0)
    so2_value = row['SO2']
     # 如果pm10_value 为空，则填充为上一行和下一行的平均值
    if pd.isna(so2_value):
        prev_value = df.at[index - 1, 'SO2']
        next_value = df.at[index + 1, 'SO2']
        if pd.notna(prev_value) and pd.notna(next_value):
            df.at[index, 'SO2'] = (prev_value + next_value) / 2
        elif pd.notna(prev_value) and pd.isna(next_value):
            df.at[index, 'SO2'] = prev_value
        elif pd.isna(prev_value) and pd.notna(next_value):
            df.at[index, 'SO2'] = next_value
        else:
            df.at[index, 'SO2'] = np.round(df['SO2'].mean() + np.random.uniform(-2.0, 2.0), 0)
    no2_value = row['NO2']
    if pd.isna(no2_value):
        prev_value = df.at[index - 1, 'NO2']
        next_value = df.at[index + 1, 'NO2']
        if pd.notna(prev_value) and pd.notna(next_value):
            df.at[index, 'NO2'] = (prev_value + next_value) / 2
        elif pd.notna(prev_value) and pd.isna(next_value):
            df.at[index, 'NO2'] = prev_value
        elif pd.isna(prev_value) and pd.notna(next_value):
            df.at[index, 'NO2'] = next_value
        else:
            df.at[index, 'NO2'] = np.round(df['NO2'].mean() + np.random.uniform(-13.0, 13.0), 0)
    o3_value = row['O3']
    if pd.isna(o3_value):
        prev_value = df.at[index - 1, 'O3']
        next_value = df.at[index + 1, 'O3']
        if pd.notna(prev_value) and pd.notna(next_value):
            df.at[index, 'O3'] = (prev_value + next_value) / 2
        elif pd.notna(prev_value) and pd.isna(next_value):
            df.at[index, 'O3'] = prev_value
        elif pd.isna(prev_value) and pd.notna(next_value):
            df.at[index, 'O3'] = next_value
        else:
            df.at[index, 'O3'] = np.round(df['O3'].mean() + np.random.uniform(-35.0, 35.0), 0)
    co_value = row['CO']
    if pd.isna(co_value):
        prev_value = df.at[index - 1, 'CO']
        next_value = df.at[index + 1, 'CO']
        if pd.notna(prev_value) and pd.notna(next_value):
            df.at[index, 'CO'] = (prev_value + next_value) / 2
        elif pd.notna(prev_value) and pd.isna(next_value):
            df.at[index, 'CO'] = prev_value
        elif pd.isna(prev_value) and pd.notna(next_value):
            df.at[index, 'CO'] = next_value
        else:
            df.at[index, 'CO'] = np.round(df['CO'].mean() + np.random.uniform(-0.3, 0.3), 0)
    target_value = row['Target']
    if pd.isna(target_value):
        prev_value = df.at[index - 1, 'Target']
        next_value = df.at[index + 1, 'Target']
        if pd.notna(prev_value) and pd.notna(next_value):
            df.at[index, 'Target'] = (prev_value + next_value) / 2
        elif pd.notna(prev_value) and pd.isna(next_value):
            df.at[index, 'Target'] = prev_value
        elif pd.isna(prev_value) and pd.notna(next_value):
            df.at[index, 'Target'] = next_value
        else:
            df.at[index, 'Target'] = np.round(df['Target'].mean() + np.random.uniform(-15.0, 15.0), 0)

In [81]:
#保存数据
df.to_csv('../DataProcess/station/1037A/1037A_final.csv', index=False)

In [82]:
df.dropna().shape

(41424, 17)

In [83]:
df.describe()

,PM10,SO2,NO2,O3,CO,Dew_Point_2m,Relative_Humidity_2m(%),Temperature,Wind_Direction_10m,Wind_Speed_10m(km/h),Diffuse_Radiation(W/m2),Direct_Radiation(W/m2),Precipitation(mm),Shortwave_Radiation(W/m2),Surface_Pressure(hPa),Target
count,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000,41424.000000
mean,81.662297,8.882001,34.369399,67.118023,0.927964,3.136938,56.571818,12.987213,183.249179,10.164257,71.441435,98.467893,0.073404,169.909328,1012.946944,42.762275
std,79.800206,9.738786,23.422725,52.683897,0.725249,14.250651,24.735945,11.856697,100.898038,5.141175,91.225022,160.827492,0.517522,237.209179,10.574187,38.527704
min,1.000000,1.000000,1.000000,1.000000,0.100000,-39.600000,5.000000,-20.100000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,985.200000,1.000000
25%,42.000000,3.000000,16.000000,26.000000,0.500000,-7.700000,36.000000,2.400000,92.000000,6.600000,0.000000,0.000000,0.000000,0.000000,1004.100000,18.000000
50%,65.000000,6.000000,29.000000,58.000000,0.700000,4.100000,57.000000,14.400000,189.000000,9.200000,8.000000,0.000000,0.000000,9.000000,1012.500000,31.000000
75%,100.000000,11.000000,50.000000,94.000000,1.100000,15.900000,78.000000,23.200000,270.000000,12.900000,136.000000,155.000000,0.000000,319.000000,1021.300000,53.000000
max,2801.000000,247.000000,164.000000,372.000000,15.100000,28.100000,100.000000,39.800000,360.000000,45.000000,397.000000,646.000000,18.400000,869.000000,1042.800000,483.000000